.panel {
  padding-top: bq(59);
  padding-bottom: bq(59);
  text-align: center;
  color: #131720;

  .panel__wrapper {
    overflow: visible;
  }

  h2 {
    font-size: bq(36);
    margin-bottom: bq(15);
  }

  .panel__desc {
    display: flex;
    justify-content: center;

    .panel__desc__word {
      font-size: bq(18);
      position: relative;
      color: #4B4B4B;

      &::before {
        content: "";
        position: absolute;
        left: bq(-100, 18);
        top: 50%;
        transform: translateY(-50%);
        width: bq(83);
        height: 2px;
        background-color: rgba(181, 181, 181, 1);
      }

      &::after {
        content: "";
        position: absolute;
        right: bq(-100, 18);
        top: 50%;
        transform: translateY(-50%);
        width: bq(83, 18);
        height: 1px;
        background-color: rgba(181, 181, 181, 1);
      }
    }
  }
}