$red: #ff0000;

html,
body {
  width: 100%;
  // overflow-x: hidden;
}

.border-right {
  &::after {
    position: absolute;
    content: " ";
    height: 100%;
    width: 1px;
    background-color: #fff;
    top: 50%;
    transform: translateY(-50%);
  }
}

.m-auto {
  margin: 0 auto;
}

.ls5 {
  letter-spacing: 5px
}


.clearfix {
  &::after {
    content: "";
    height: 0;
    display: block;
    clear: both;
  }
}