@import "./_global.scss";
$red: #ff0000;

html,
body {
  width: 100%;
  // overflow-x: hidden;
}

.border-right {
  &::after {
    position: absolute;
    content: " ";
    height: 100%;
    width: 1px;
    background-color: #fff;
    top: 50%;
    transform: translateY(-50%);
  }
}

$layerWidth:1366px;
$designWidth:1920px;

.s1920 .layer {
  width: 85%;
}

@function bq($v, $f:16) {
  @return $v/$f+em;
}

.m-auto {
  margin: 0 auto;
}