$red: #ff0000;

:root{
  font-size: 16px;
}
html,
body {
  width: 100%;//62.5%;
  margin: 0;
  padding: 0;
}

.border-right {
  &::after {
    position: absolute;
    content: " ";
    height: 100%;
    width: 1px;
    background-color: #fff;
    top: 50%;
    transform: translateY(-50%);
  }
}

.mg-auto {
  margin: 0 auto;
}

.clearfix {
  &::after {
    content: "";
    height: 0;
    display: block;
    clear: both;
  }
}

// 字体或者什么的用em
@function em($v, $f:16) {
  @return $v/$f+rem;
}

$designWidth:1920;
// 距离用百分比
@function per($v) {
  @return percentage($v/$designWidth);
}

.box1 {
  width: per(100);
  margin-top: per(43);
  height: 0;
  padding-bottom:  per(100);
  font-size: em(32);
  background-color: red;
}
